.warehouse{
    max-width: 80%;
    margin: 0 auto;
}

.inventory{    
    display: flex;
    justify-content: space-between;
}

.cartBox{
    min-width: 20%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 1%;
    background-color: #EEF1F5;
    
}

.idStockBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.idStockBox h5{
    width: 35%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: black;
    color: white;
}